{% extends "base.html" %}
{% from "forms.html" import render_field %}

{% block content %}
<div class="row">
	<div class="large-10 columns">
        <br />
	</div>
	<div class="large-2 columns">
		<br />
		<a href="{{ url_for('cart.clear_cart') }}" class="alert button"><i class="fa fa-trash"></i>&nbsp;Clear Cart</a>
	</div>
</div>
{% if session.get('cart', None) %}
	{% for book in session.get('cart', []) %}
	<div class="row">
		<div class="large-12 columns center">
			<div class="callout" data-closable>
				<div class="row">
					<div class="large-6 columns">
						<h4>{{ book.title }}</h4>
					</div>
					<div class="large-2 columns">
						<h5>${{ book.price }}</h5>
					</div>
				</div>
				<div class="row">
					<div class="columns">
						<p>Author: {{ book.author }}</p>
					</div>
				</div>
				<form method="POST" action="{{ url_for('cart.remove_item') }}">
					<input type="hidden" name="remove_isbn" value="{{ book.isbn }}" />
					<button class="close-button" aria-label="Dismiss" type="submit" data-close>
		    				<span aria-hidden="true">&times;</span>
		  			</button>
	  			</form>
			</div>
		</div>
	</div>
	{% endfor %}
{% else %}
	<div class="row">
		<div class="large-12 columns">
			<div class="callout">
				<h1>No Books in Cart</h1>
			</div>
		</div>
	</div>
{% endif %}

	
	<div class="row">
		<form method="POST" id="isbn_add_form">
		{{ form.csrf_token() }}
		<div class="large-7 columns">
			<div class="primary callout">
				{{ render_field(form.isbn, placeholder=" ISBN Number", id="isbn_add_field", maxlength="13", autofocus=True) }}
			</div>
		</div>
		</form>
		<div class="large-5 columns">
			<div class="callout">
				<div class="row">
				<div class="large-4 columns">
					<h5>Total:</h5>
					<h3>${{ session.get('total', 0) }}</h3>
				</div>
				<div class="columns">
					<p></p>
					<form method="POST" action="{{ url_for('cart.complete_purchase') }}">
						<input type="hidden" value="{{ csrf_token() }}" name="csrf_token">
						  <fieldset>
						    <legend>Type Of Sale</legend>
						    <input type="radio" name="saleType" value="sale" id="saleButton" required checked><label for="saleButton">Sale</label>
						    <input type="radio" name="saleType" value="return" id="returnButton"><label for="returnButton">Return</label>
						    <input type="radio" name="saleType" value="gift" id="giftButton"><label for="giftButton">Gift</label>
						    <input type="radio" name="saleType" value="damaged" id="damagedButton"><label for="damagedButton">Damaged Item</label>
						  </fieldset>
						  <label for="saleComment">Comments:</label>
						  <input type="text" name="saleComment" id="saleComment" placeholder="Comment on Sale" maxlength="128" />
						<button type="submit" class="button">Complete Purchase</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$form = $("#isbn_add_form");
		$("#isbn_add_field").on('input', function(){
			if(/((978|979)\d{10}|999\d{3})/.test($(this).val()) === true){
				$form.submit()
			}
		});
	});
</script>
{% endblock %}
