body {
	background-image: url("/static/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

*  {
	font-family: "Droid Sans Mono" !important;
}

.fa {
	font-family: FontAwesome !important;
}
