{% extends "base.html" %}
{% from "forms.html" import render_field %}
{% block header %}Add Inventory For Book{% endblock %}
{% block content %}
<div><p><br /></p></div>
<div class="row">
	<div class="callout primary">
		<div class="row">
			<div class="large-12 columns">
				<a href="{{ url_for('inventory.add_manually') }}" class="warning button">Add New Book</a>
			</div>
		</div>
		<form method="POST">
			{{ form.csrf_token() }}
			{{ render_field(form.quantity, placeholder="Quantity", autofocus=True) }}
			{{ render_field(form.isbn, placeholder="ISBN Number", maxlength="13", id="isbn_add_field") }}
			<button type="submit" class="button">Add to Inventory</button>
		</form>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$form = $("form");
		$("#isbn_add_field").on('input', function(){
			if(/(978|979)\d{10}/.test($(this).val()) === true){
				$form.submit()
			}
		});
	});
</script>
{% endblock %}