{% extends "base.html" %}
{% block content %}
<div class="row"><p><br /></p></div>
<div class="row">
	<div class="columns">
		<div class="callout primary">
			<form id="timeForm">
				<label>Time Filter:
					<select name="time" id="timeSelect">
						<option selected disabled>Select A Time Period</option>
						<option value="today">Today</option>
						<option value="week">Week</option>
						<option value="month">Month</option>
						<option value="year">Year</option>
					</select>
				</label>
			</form>
			<form id="userForm">
				<label>User Filter:
					<select name="user_id" id="userSelect">
						<option selected disabled>Select A User</option>
						{% for user in Account.select().order_by(+Account.id) %}
						<option value="{{ user.id }}">{{ user.name }}</option>
						{% endfor %}
					</select>
				</label>
			</form>
		</div>
	</div>
</div>
{% for purchase in purchases %}
<div class="row">
	<div class="columns">
        <div class="callout"{% if purchase.total < 0 %} style="background-color:red; color:white;"{% endif %}>
            <h3>{% if purchase.book is string %}{{ purchase.book }}{% else %}{{ purchase.book.title }}{% endif %} - ${% if purchase.total < 0 %}{{ purchase.total * -1 }}{% else %}{{ purchase.total }}{% endif %}</h3>
			<h4>Time of Purchase: {{ purchase.time }}</h4>
            <h5>Seller: {{ purchase.seller.name }}</h5>
            <h6>Type of Sale: {{ purchase.method | title }}</h6>
            <p>Comments: {{ purchase.comment }}</p>
		</div>
	</div>
</div>
{% endfor %}
<div class="row">
	<div class="columns">
		<div class="callout">
			<h1>Total Money: ${{ total }}</h1>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$timeform = $("#timeForm");
		$("#timeSelect").change(function(){
			$timeform.submit()
		});
		$userform = $("#userForm");
		$("#userSelect").change(function(){
			$userform.submit()
		});
	});
</script>
{% endblock %}
