{% extends "base.html" %}
{% block content %}
<div class="row"><p><br /></p></div>
<div class="row">
	<div class="columns">
		<div class="callout primary">
			<form id="timeForm">
				<label>Filter By:
				<select name="time" id="timeSelect">
					<option value="week" {% if request.args.get("time", "month") == "week" %}selected disabled {% endif %}>Week</option>
					<option value="month" {% if request.args.get("time", "month") == "month" %}selected disabled {% endif %}>Month</option>
					<option value="year" {% if request.args.get("time", "month") == "year" %}selected disabled {% endif %}>Year</option>
				</select>
		</div>
	</div>
</div>
{% for purchase in purchases %}
<div class="row">
	<div class="columns">
        <div class="callout"{% if purchase.total < 0 %} style="background-color:red; color:white;"{% endif %}>
            <h3>{% if purchase.book is string %}{{ purchase.book }}{% else %}{{ purchase.book.title }}{% endif %} - ${% if purchase.total < 0 %}{{ purchase.total * -1 }}{% else %}{{ purchase.total }}{% endif %}</h3>
			<h4>Time of Purchase: {{ purchase.time }}</h4>
            <h5>Seller: {{ purchase.seller.name }}</h5>
		</div>
	</div>
</div>
{% endfor %}
<div class="row">
	<div class="columns">
		<div class="callout">
			<h1>Total Money: ${{ total }}</h1>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$form = $("#timeForm");
		$("#timeSelect").change(function(){
			$form.submit()
		});
	});
</script>
{% endblock %}
