{% extends "base.html" %}
{% block content %}
	<div><p><br /></p></div>
	<div class="row">
		<div class="columns">
			<div class="primary callout">
				<form method="POST" action="{{ url_for('reports.generate_inventory_reports') }}">
					<button type="submit" class="large success button">Generate Inventory Spreadsheet</button>
				</form>
			</div>
	{% for book in books %}
	{% if loop.index0 is divisibleby(2) %}
	<div class="row">
		{% endif %}
		<div class="large-6 columns">
			<div class="callout">
				<h3>Title: {{ book.title }}</h3>
				<h4>Cost: ${{ book.price }}</h4>
				<h5>Count: {{ book.count }}</h5>
				<h6>Author: {{ book.author }}</h6>
				<p>ISBN: {{ book.isbn }}</p>
				<div class="row">
					<div class="large-6 columns">
						<a href="{{ url_for('inventory.edit_book', isbn=book.isbn) }}" class="button warning">Edit Book</a>
					</div>
					<div class="large-6 columns">
						<a href="{{ url_for('inventory.generate_barcode', isbn=book.isbn) }}" class="button secondary">View Barcode</a>
					</div>
				</div>
			</div>
		</div>
	{% if loop.index is divisibleby(2) %}
	</div>
	{% endif %}
	{% endfor %}
{% endblock %}