{% set extra_css = extra_css | default(False) %}
<html>
<head>
	<title>{% block title %}{{ config.APP_NAME }}{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="180x180" href="/bookstore/static/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/bookstore/static/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/bookstore/static/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/bookstore/static/icons/manifest.json">
	<link rel="mask-icon" href="/bookstore/static/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/bookstore/static/icons/favicon.ico">
	<meta name="msapplication-config" content="/bookstore/static/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffd600">
	
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/overhang.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css">
	{% if extra_css %}
		{% if extra_css is string %}
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/{}.css'.format(extra_css)) }}">
		{% elif extra_css is iterable %}
	        {% for file in extra_css %}
	        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/{}.css'.format(file)) }}">
	       	{% endfor %}
       	{% endif %}
        {% endif %}
    <style type="text/css">
        body {
            background-image: url("{{ url_for('static', filename='background.png') }}");
        }
    </style>
    <style type="text/css">
    	{% block inline_css %}
    	{% endblock %}
    </style>
</head>
<body>
	<div class="top-bar">
	  <div class="top-bar-left">
	  	<ul class="menu">
	  		<li><h4><a href="{{ url_for('home_page') }}">{{ config.APP_NAME }}</a></h4></li>
	  	</ul>
	  </div>
	  <div class="top-bar-right">
	  	<ul class="dropdown menu" data-dropdown-menu>
	  		{% if g.user %}{% if g.user.admin %}
	  		<li>
	  			<a href="#"><i class="fa fa-shield"></i><strong>Accounts</strong></a>
	  			<ul class="menu">
	  				<li><a href="{{ url_for('account.add_account') }}"><i class="fa fa-plus-circle"></i><strong>Add Account</strong></a></li>
	  				<li><a href="{{ url_for('account.view_accounts') }}"><i class="fa fa-list"></i><strong>View Accounts</strong></a></li>
	  			</ul>
	  		</li>
	  		<li>
	  			<a href="#"><i class="fa fa-usd"></i><strong>Sales Report</strong></a>
	  			<ul class="menu">
	  				<li><a href="{{ url_for('inventory.view_purchases') }}"><i class="fa fa-globe"></i><strong>Online</strong></a></li>
	  				<li><a href="{{ url_for('reports.index') }}"><i class="fa fa-file-excel-o"></i><strong>Download</strong></a></li>
	  			</ul>
	  		</li>
	  		<li><a href="{{ url_for('inventory.add_to_inventory') }}"><i class="fa fa-plus-square-o"></i><strong>Receive Books</strong></a></li>
	  		<li>
	  			<a href="#"><i class="fa fa-archive"></i><strong>Inventory</strong></a>
	  			<ul class="menu">
	  				<li><a href="{{ url_for('inventory.search_for_book') }}"><i class="fa fa-search"></i><strong>Search</strong></a></li>
	  				<li><a href="{{ url_for('inventory.view_inventory') }}"><i class="fa fa-file-excel-o"></i><strong>Spreadsheet</strong></a></li>
	  			</ul>
	  		</li>
	  		{% else %}
	  		<li><a href="{{ url_for('inventory.search_for_book') }}"><i class="fa fa-search"></i><strong>Search</strong></a></li>
	  		{% endif %}
	  		{% endif %}
	  		{% if not session.get("logged_in") %}
	  		<li><a href="{{ url_for('account.login') }}"><i class="fa fa-sign-in"></i><strong>Login</strong></a></li>
	  		{% else %}
            <li><a href="{{ url_for('account.info') }}"><i class="fa fa-info-circle"></i><strong>My Account</strong></a></li>
	  		<li><a href="{{ url_for('cart.show_cart') }}"><i class="fa fa-shopping-cart"></i><strong>Cart</strong>&nbsp;<span class="badge">{{ session.get('cart', []) | length }}</span></a></li>
	  		<li><a href="{{ url_for('account.logout') }}"><i class="fa fa-sign-out"></i><strong>Logout</strong></a></li>
	  		{% endif %}
	  	</ul>
	  </div>
	</div>
	<div id="content" class="container">
	    <h1 class="text-center">{% block header %}{% endblock %}</h1>
	    {% block content %}
	    {% endblock %}
	    {% if version != "" %}
	    <div class="row">
	    	<p><br /></p>
	    </div>
	    <div class="row">
	    	<div class="callout secondary">Version: {{ version }}</div>
	    </div>
	   	{% endif %}
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/overhang/overhang.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
	{% with messages = get_flashed_messages(with_categories=true) %}
	        {% if messages %}
	        	<script type="text/javascript">
	            {% for category, message in messages %}
	               $("body").overhang({
	               		type: "{{ category }}",
	               		message: "{{ message | safe }}",
	               		closeConfirm: true
	               	});
	            {% endfor %}
	            </script>
	        {% endif %}
	    {% endwith %}
	{% block scripts %}
	{% endblock %}
	<!-- 
		debug
		g.user = {{ g.user }}
	-->
</body>
</html>

